h2{
    background-color: darkblue;
    color: white;
    white:400px;
    height:100px;
    padding:30px 90px 50px 80px;
    border: solid 3px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}