h2{
    background-color: darkblue;
    color: white;
    white:400px;
    height:100px;
    padding:30px 90px 50px 80px;
    border: solid 3px white;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    background-color: darkred;
    color:bisque;
    border: aliceblue 2px solid;
    width: 400px;
    height: 50px;
    padding: 60px 90px 90px 60px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
